* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  width: 600px;
  height: 800px;

  box-shadow: 0 0 10px 5px rgba(0, 0, 0, .1);
}

header {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;

  color: #fff;
  background-color: #FE3C72;

  padding: 1rem 3rem;
}
