@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap');

body {
  height: 100vh;

  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  text-align: center;

  display: flex;
  align-items: center;
  justify-content: center;
}

code {
  font-family: 'Poppins', sans-serif;
}
